/* Write your CSS here */
.CourseContainer {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.title-heading {
  color: #171f46;
  font-size: 22px;
  font-family: 'Roboto';
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.duration {
  color: #1e293b;
  font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
}

.description {
  color: #1e293b;
  font-size: 14px;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

.list-item {
  padding: 5px;
}

.list-name {
  color: #25262c;
  background-color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1.6;
  padding: 4px 8px;
  margin: 0px;
  margin-bottom: 8px;
  margin-right: 8px;
}
